@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display');

*{
    margin: 0;
}
body, html {
    height: 100%;
}
.main-wrapper{
    min-height: 80vh;
}
.bgimg {
    background-image: url('../img/background-image-teste.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#restaurant-name {
    font-family: 'Crimson Text', serif;
    border: 1px solid white;
    padding: 5px 5px 5px 5px;
    color: white;
    font-size: 25px;

}
.grid-container {
    display: flex;
    background-color: transparent !important;
    padding: 20px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}
.grid-items{
    display: flex;
}
.grid-item {
    text-align: center;
    background-color: rgba(255, 255, 255, 0) !important;
}
.grid-item a:hover{
    background-color: rgba(255, 255, 255, 0.6) !important;
    color: black;
    transition-duration: 0.5s;

}
.grid-item a{
    font-family: 'Playfair Display', serif;
    color: white;
    padding: 10px 45px;
    font-size: 20px;
    border:none;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    background-color:inherit;
    cursor:pointer;
    white-space:nowrap;
}
footer p{
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    color: white;
}
footer{
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
}
