<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adicionar Item</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/general-style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="restaurantName">N Restaurant</h3>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./pagina-inicial.html">Home</a> <!-- /home -->
                <a class="nav-item nav-link" href="/prato/galeria">Pratos</a> <!-- /prato/galeria -->
                <a class="nav-item nav-link" href="/cliente/form">Cadastro</a>
                <a class="nav-item nav-link" href="/cliente/logar">Login</a> <!-- /cliente/login -->
            </div>
        </div>
    </nav>
    <div class="container">
        <form action="/carrinho/adicionarItem" method="post" th:object="${prato}">
			<div>
			<img class="img-fluid" width="200" height="200" th:src="@{'/images/'+${prato.nome}+.png}">
			<p th:text="${prato.nome}"></p>
			</div>
<!-- 			<div>
				<input type="hidden" th:object="${prato}" name="prato">
			</div> -->
			<input type="hidden" th:field="*{id}" name="idDoPrato">
	        <div class="form-group">
	         	<label >Quantidade:</label>
	          	<input type="number" class="form-control" name="quantidade">
	        </div>
	        <button type="submit" class="btn btn-primary">Adicionar ao carrinho</button>
    	</form>
    </div>

    <footer>
            <p>Telefone: (88) 3422-6323 </p>
            <p>Endereço: Av. Plácido Castelo, 223, Centro, Quixadá.</p>
            <p>Powered by Josué Nicholson</p>
    </footer>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>