<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/general-style.css">
    <link rel="stylesheet" href="../static/css/galeria-style.css">
    <title>Pratos</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="restaurantName">N Restaurant</h3>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./pagina-inicial.html">Home</a>
                <a class="nav-item nav-link active" href="#">Pratos</a>
                <a class="nav-item nav-link" href="./cadastro.html">Cadastro</a>
            </div>
        </div>
    </nav>
    <div class="container ">
        <figure>
            <img src="../static/img/pratos/Authentic-Bruschetta-.jpg" alt="">
            <figcaption>sas</figcaption>
        </figure>
        <figure>
            <img src="../static/img/pratos/Buffalo-Chicken-Lasagna.jpg" alt="">
            <figcaption>sas</figcaption>
        </figure>
        <figure>
            <img src="../static/img/pratos/Creamy-Lemon-Risotto-with-Asparagus.jpg" alt="">
            <figcaption>sas</figcaption>
        </figure>
        <figure>
            <img src="../static/img/pratos/Creamy-Tuscan-Chicken-Garlic-e-Pancetta.jpg" alt="">
            <figcaption>sas</figcaption>
        </figure>
    </div>
    <footer>
            <p>Telefone: (88) 3422-6323 </p>
            <p>Endereço: Av. Plácido Castelo, 223, Centro, Quixadá.</p>
            <p>Powered by Josué Nicholson</p>
    </footer>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>