<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/general-style.css">
    <link rel="stylesheet" href="/css/galeria-style.css">
    <title>Pratos</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="restaurantName">N Restaurant</h3>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./pagina-inicial.html">Home</a> <!-- /home -->
                <a class="nav-item nav-link active" href="/prato/galeria">Pratos</a> <!-- /prato/galeria -->
                <a class="nav-item nav-link" href="/cliente/form">Cadastro</a>
                <a class="nav-item nav-link" href="/cliente/logar">Login</a> <!-- /cliente/login -->
            </div>
        </div>
    </nav>
    <div class="container ">
		<table class="table table-bordered">
		  <thead class="thead-dark">
		    <tr>
		
		      <th scope="col">Codigo</th>
		      <th scope="col">Nome</th>
		      <th scope="col">Valor</th>
		      <th scope="col">Imagem</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each = "prato : ${listaDePratos}">
		      <td th:text="${prato.id}" ></td>
		      <td th:text="${prato.nome}" ></td>
		      <td th:text="${prato.valor}" ></td>
		      <td> <img class="img-fluid" width="200" height="200" th:src="@{'/images/'+${prato.nome}+.png}"> </td>
		      <td> <a class="btn btn-secondary" th:href="@{/prato/deletar/{id}(id = ${prato.id})}">Excluir</a></td>
		      <td> <a class="btn btn-primary" th:href="@{/carrinho/adicionarItemForm/{id}(id = ${prato.id})}">ADD
		      			<!-- <img alt="" src="/img/plus.png"> -->
		      		</a>
		      </td>
		    </tr>
		
		  </tbody>
		</table>
    </div>
    <footer>
            <p>Telefone: (88) 3422-6323 </p>
            <p>Endereço: Av. Plácido Castelo, 223, Centro, Quixadá.</p>
            <p>Powered by Josué Nicholson</p>
    </footer>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>