<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <h3 class="restaurantName">N Restaurant</h3>
  </nav>

  <div class="container">
    <form action="" method="post">
        <label>Nome</label>
          <input class="input" type="text" placeholder="e.g Alex Smith"><br>
        <label>CPF</label> class="control">
          <input class="input" type="text" ><br>
        <label>Data de Nascimento</label> class="control">
          <input class="input" type="text" placeholder="dd/mm/aaaa"><br>
        <label>Endereço</label> class="control">
          <input class="input" type="text" placeholder=""><br>
        <label>Senha</label> class="control">
          <input class="input" type="password"><br>
        <label>Email</label> class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com"><br>
        
          <input type="button" value="Cadastrar">
    </form>
  </div>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>