<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/general-style.css">
    <link rel="stylesheet" href="/css/cadastro-style.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="restaurantName">N Restaurant</h3>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="./pagina-inicial.html">Home</a> <!-- /home -->
                <a class="nav-item nav-link" href="/prato/galeria">Pratos</a> <!-- /prato/galeria -->
                <a class="nav-item nav-link" href="/cliente/form">Cadastro</a>
                <a class="nav-item nav-link active" href="/cliente/logar">Login</a> <!-- /cliente/login -->
            </div>
        </div>
    </nav>
    <div class="container">
    <form action="/cliente/logar" method="post" th:object="${cliente}" enctype="multipart/form-data">
<!--     		<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
			<div th:each="detailedError : ${#fields.detailedErrors()}">
				<span th:text="${detailedError.message}"></span>
			</div>
		</div> -->
        <div class="form-group">
         	<label >email:</label>
          	<input type="text" class="form-control" name="nome">
        </div>
        <div class="form-group">
         	<label >senha:</label>
          	<input type="password" class="form-control" name="valor">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
    <footer>
            <p>Telefone: (88) 3422-6323 </p>
            <p>Endereço: Av. Plácido Castelo, 223, Centro, Quixadá.</p>
            <p>Powered by Josué Nicholson</p>
    </footer>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>