<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/pagina-inicial-style.css">
    <link rel="stylesheet" href="../static/css/general-style.css">
    <title>N Restaurant</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <h3 class="restaurantName">N Restaurant</h3>
        <div class=" navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home </a> <!-- /home -->
                <a class="nav-item nav-link" href="./galeria.html">Pratos</a> <!-- /prato/galeria -->
                <a class="nav-item nav-link" href="./cadastroCliente.html">Cadastro</a> <!-- /cliente/cadastro -->
                <a class="nav-item nav-link" href="#">Login</a> <!-- /cliente/login -->
            </div>
        </div>
    </nav>
    <div class="descricao">
        <img src="../static/img/background.jpg" class="float-left" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt soluta velit autem quod corrupti magnam
            unde laborum, nesciunt dolores impedit nam quae fuga accusantium officia iusto quo. Laudantium,
            temporibus iure!
        </p>

    </div>
    <footer>
        <p>Telefone: (88) 3422-6323 </p>
        <p>Endereço: Av. Plácido Castelo, 223, Centro, Quixadá.</p>
        <p>Powered by Josué Nicholson</p>
    </footer>
</body>
<script src="../static/js/bootstrap.min.js"></script>

</html>