<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>teste</title>
    <link rel="stylesheet" href="../static/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-5 is-parent">
                </div>
                <div class="tile is-parent ">
                </div>
            </div>
        </div>
    </section>
</body>
</html>